*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: whitesmoke;
}
.whole{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -1px;
    left: -1px;
    /* position: relative; */
    height: auto;
    /* overflow-y: scroll; */
    cursor: none;
}
.whole img{
    width: 100%;
}

.whole .point_whole .mitem{
    width: 45px;
    height: 45px;
    
    border: none;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
   
    left: 10px;
    opacity: 1;
    background: transparent;
    z-index: 5;
    
}
.whole .point_whole .mitem .imgcon{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.whole .point_whole .mitem .imgcon img{
display: flex;
    width: 45px;
    height: 45px;
  border-radius: 50%;
    border: 0px black transparent;
    background-color: transparent;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
}


@media screen and (max-width:600px) {
    .whole{
       
        position: absolute;
        top: 1px;
        left: 1px;
    }
}