.men{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.leftmen{
    display: flex;
    justify-content: space-evenly;
    width:50%;
}
.rifgtmen{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.rifgtmen button{

    display: flex;
    background-color: rgb(57, 169, 57);
    height: 40px;
    color: white;
    /* border-radius: 50px 0; */
    /* border-radius: 50px 50px 0 0; */
    /* border-radius:0 50px 50px 0 ; */
    border-radius:30px 30px 30px 30px ;
    justify-content: center;
    align-items: center;
}
.menuit{
    /* margin: 10px; */
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    cursor: pointer;
    margin-left: 10px;
}
.menuit img{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.rifgtmen .per{
    display: flex;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    /* border:  2px solid black; */
    cursor: pointer;
   
}
.rifgtmen .per img{
    background-color: transparent;
margin: 10px;
}

@media screen and (max-width:600px) {
    .men{  display: none;}
}