.whole_corousal{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
/* border: 2px solid black; */
}

.whole_corousal .main_img{

    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 110px;
    width: 50%;
    height: 300px;
    /* border: 2px solid yellow; */
}
.whole_corousal .main_img img{

    display: flex;
    justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  /* margin-left: 150px; */
    width: 100%;
    height: 100%;
    /* box-shadow: 0px 16px 17px 0px #00000057; */
filter: drop-shadow(0px 16px 17px #00000057);
background: transparent;
}

.whole_corousal .mult_imgs{
    display:  flex;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: yellow; */
    /* border-radius: 20px; */
    /* width:100px ;
    height: 100px; */
}

.whole_corousal .mult_imgs img{
    display:  flex;
    width: 10%;
    /* height: 30%; */
    /* background-color: blue; */
    /* border-radius: 20px; */
    /* height: 200px; */
    border: 2px solid black;
    cursor: pointer;
    margin-top: 100px;
    /* margin-bottom: 100px; */
}



.whole_corousal .connections_whole{
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid blue; */
    height: 200px;
    justify-content: center;
    /* margin: 50px; */
}

.whole_corousal .connections_whole .item{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
cursor: pointer;
}
.whole_corousal .connections_whole .item svg{
    display: flex;
width: 30%;
height: 50px;
width: 50px;
border-radius: 50%;
margin-left: 20px;

}
.whole_corousal .connections_whole .item .txt{
    display: flex;
    width: 70%;
justify-content: start;
font-family: Poppins;
font-size: 18px;
font-weight: 300;
line-height: 30px;
text-align: left;

}

@media screen and (max-width:600px) {

    .whole_corousal{
align-items: center;
width: 100%;
       
    }
    .whole_corousal .mult_imgs img{
        display:  flex;
        width: 10%;
       
        cursor: pointer;
        margin-top: 100px;
        /* margin-bottom: 100px; */
    }

    .whole_corousal .mult_imgs{
        display:  flex;
        justify-content: space-between;
        width: 50%;
     
    }
    .whole_corousal .main_img{

        display: flex;
        justify-content: center;
       
        width: 200px;
      
    }
    .whole_corousal .connections_whole{
       
        width: 100%;
        /* border: 2px solid blue; */
        height: auto;
        justify-content: center;
        /* margin: 50px; */
    }

    .whole_corousal .connections_whole .item{
        display: flex;
        flex-wrap: wrap;
        width: 15%;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        
    cursor: pointer;
    }
    .whole_corousal .connections_whole .item svg{
        width: 20px;
        height: 20px;
    }
    .whole_corousal .connections_whole .item .txt{
        display: flex;
        width: 70%;
    justify-content: start;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    text-align: left;
    
    }
    .whole_corousal .main_img{
height: 150px;

    }
}